{% extends 'base.html.twig' %}

{% block body %}

    {# TODO : date du jour + Participant à ajouter  #}
    <div class="flex">
        <h1> Filtrer les sorties </h1>
    </div>

{#    <div class="flex">#}
        {% include 'sortie/_filter.html.twig' with {form: searchForm} only%}
{#    </div>#}

    {# Tableau des résultats   #}
    <div class="shadow-md sm:rounded-lg flex-grow overflow-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom de la sortie
                </th>
                <th scope="col" class="px-6 py-3">
                    Date de la sortie
                </th>
                <th scope="col" class="px-6 py-3">
                    Date de clôture
                </th>
                <th scope="col" class="px-6 py-3">
                    Nb inscrits/jauge
                </th>
                <th scope="col" class="px-6 py-3">
                    État
                </th>
                <th scope="col" class="px-6 py-3">
                    Mes inscriptions
                </th>
                <th scope="col" class="px-6 py-3">
                    Organisateur
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        <a href="{{ path('sortie_show', {id: sortie.id}) }}" class=" hover:underline">
                            {{ sortie.nom }}
                        </a>
                    </th>
                    <td class="px-6 py-4">
                        {{ sortie.dateDebut | date("d-m-Y H:i") }}
                    </td>
                    <td class="px-6 py-4">
                        {{ sortie.dateCloture | date("d-m-Y G:i") }}
                    </td>
                    <td class="px-6 py-4">
                        {{ sortie.participants | length }} / {{ sortie.jauge }}
                    </td>
                    <td class="px-6 py-4">
                        {{ sortie.etat.libelle }}
                    </td>
                    <td class="px-6 py-4">
                        {# TODO : si utilisateur conneté dans sortie.participants alors afficher X dans colonne #}
                    </td>
                    <td class="px-6 py-4">
                        {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|first|upper ~ '.' }}
                    </td>
                    <td class="px-6 py-4">
                        {# TODO :
                            si utilisateur connecté = organisateur
                                si sortie.etat = "en création" alors afficher "Modifier" et "Publier"
                                sinon si sortie.etat = "Ouvert" alors afficher "Afficher" et "Annuler"
                            sinon afficher "Afficher"
                            si utilisateur connecté est dans sortie.participants alors afficher "Se désister"
                            sinon si état < clôturé et inscription < jauge afficher "S'inscrire"
                        #}
                        <a href="#"
                           class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="flex">
        <p>BOUTON Créer une sortie</p>
    </div>

{% endblock %}

{% block title %}
    Sorties | {{ parent() }}
{% endblock %}